@import './mixins';
@import './font';
@import './colors';

:root {
  --border-radius: 17px;
}

*,
*::before,
*::after {
  position: relative;
  font-weight: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  color: var(--color-text);
  @include _font(400, 15px);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-text);
}

#app {
  margin: 0 auto;
  flex: 1;
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
}
