@import './mixins';
@import './font';
@import './colors';
@import './vacation';

:root {
  --border-radius: 17px;
}

*,
*::before,
*::after {
  position: relative;
  font-weight: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  color: var(--color-text);
  @include _font(400, 15px);
  @include background-pattern;
}

#app {
  margin: 0 auto;
  flex: 1;
  display: flex;
  overflow: hidden;
  position: fixed;
  height: 100vh;
  height: 100dvh;
  width: 100%;
}
