:root {
  --color-text: #302b2b;
  --color-violet: #9b5de5;
  --color-violet-semi-transparent: rgba(155, 93, 229, 0.8);
  --color-violet-alt: #8a41e1;
  --color-violet-alt-semi-transparent: rgba(205, 174, 242, 0.8);
  --color-pink: #f15bb5;
  --color-pink-alt: #f47cc4;
  --color-yellow: #fee440;
  --color-yellow-alt: #fee966;
  --color-blue: #00bbf9;
  --color-green: #00f5d4;
}
