:root {
  --color-white: #fff;
  --color-white-alt: #bab6b6;
  --color-text: #302b2b;
  --color-text-bright: #e3c44a;
  --color-violet: #432a55;
  --color-violet-semi-transparent: #432a5530;
  --color-violet-alt: #402751;
  --color-violet-alt-semi-transparent: #402751b8;
  --color-dark-blue: #172038;
  --color-dark-blue-alt: #282d3d;
  --color-brown: #7a4841;
  --color-brown-alt: #b47b57;
  --color-blue: #3c5e8b;
}
