@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

$window-medium-min: 800px;

@mixin window-medium {
  @media (min-width: #{$window-medium-min}) {
    @content;
  }
}