.vacation {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-size: cover;

  &__title {
    color: var(--color-white);
    background: -webkit-linear-gradient(var(--color-white), var(--color-white-alt));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;

    @include window-medium {
      font-size: 36px;
    }
  }

  &__sub-title {
    color: var(--color-white-alt);
    margin-bottom: 30px;
    font-size: 20px;

    @include window-medium {
      font-size: 30px;
      margin-bottom: 50px;
    }
  }

  &__confirmed {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: var(--color-brown-alt);
    border: 2px solid var(--color-text);
    align-self: center;
    justify-self: end;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    @include window-medium {
      height: 150px;
      width: 150px;
    }
  }

  &__confirmed-text {
    color: var(--color-brown);
    font-size: 16px;

    @include window-medium {
      font-size: 26px;
    }
  }

  &__button {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    pointer-events: all;
    text-align: right;
    text-transform: none;
    padding: 8px 16px 8px 20px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.35s cubic-bezier(0.1, 0, 0, 1);
    color: var(--color-text-bright);
    background-color: transparent;
    border: 2px solid var(--color-white-alt);
    @include _font(800, 14px);
    white-space: break-spaces;

    @include window-medium {
      white-space: nowrap;
      padding: 16px 32px 16px 40px;
      font-size: 24px;
    }

    &:hover {
      border: 2px solid var(--color-white);
    }
  }

  &__button-arrow {
    height: 2px;
    width: 25px;
    position: relative;
    display: block;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 4px;
    transition: all 0.4s ease;
    background: var(--color-white);

    &::after,
    &::before {
      content: '';
      background: var(--color-white);
      position: absolute;
      height: 2px;
      width: 10px;
      border-radius: 30%;
    }

    &::before {
      right: -2px;
      bottom: -3px;
      transform: rotate(-45deg);
    }

    &::after {
      right: -2px;
      top: -3px;
      transform: rotate(45deg);
    }
  }

  &__button:hover .vacation__button-arrow {
    width: 35px;
    margin-right: 5px;
  }

  &__controls {
    display: flex;
    flex-direction: column;
  }

  &__controls-text {
    @include _font(400, 14px);
    color: var(--color-white-alt);
  }
}
